.primary-heading-banner{
  font-size: clamp(2rem, 3vw, 3rem);
  color: #ffffff;
  /* line-height: 5rem; */
  max-width: 600px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-text-container {
  position: relative;
  text-align: center;
  color: white;
}
.banner-text-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outline-home-button-banner{
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #e48f0f;
  color: white;
  margin-left: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outline-home-button-banner-2 {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #e48f0f;
  color: white;
  margin-left: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 800px) {
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
}