

  .footer-wrapper-footer {
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;  /* Center Vertically */
    justify-content: center;  /* Center Horizontally */
    column-gap: 10px;  /* Set gap between images */
  }
  .footer-logo-container {
    display: flex;
  }
  .footer-icons {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;  /* Center Vertically */
    justify-content: center;  /* Center Horizontally */
    vertical-align: text-top;
    margin: 0 auto;
  }
  .footer-icons-1 svg {
    font-size: 1.5rem;
    margin-right: 1.25rem;
    color: pink;
  }
   
  
  @media (max-width: 800px) {
  }

  @media (max-width: 600px) {
  
  }
 