body {
    background-color: rgb(209,204,204);
}

.searchContainer {
    margin: 5% 0;
}

.searchContainer > .searchInput_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.searchContainer > .searchInput_Container input {

  padding-left: 25px;
  display: flex;
  align-items: center;
  margin : auto;
  width : 612px;
  height: 54px;
  background-color : white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);

}

.searchContainer .search_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.searchContainer .search_Container .template {
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  margin: 1rem 2rem;
  max-height: 500px;
  
}
.searchContainer .search_Container .template h3 {
    margin: 1rem 0rem;
  
}

.searchContainer .search_Container .template p {
    text-align: center;
    max-width: 600px !important;
    margin-bottom: 10px;
}

.searchContainer .search_Container .template:hover {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.searchContainer .search_Container .template img {
  max-width: 100%;
  height: auto;
}

.searchContainer .search_Container .template img:hover {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
    max-width: 100%;
    height: auto;
}

.searchContainer .search_Container .template h3 {
    width: 100%;
    color:#fe9e0d;
}

.searchContainer .search_Container .template ul {
    list-style: none;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    background-color: rgb(220, 220, 220);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 60px 30px,
      rgba(0, 0, 0, 0.12) 0px -5px 50px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.searchContainer .search_Container .template ul:hover {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

@media (max-width: 800px) {
    .searchContainer .search_Container .template h3 {
            text-align: center;
    max-width: 90%;
    }}